body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: grid;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .reflejo {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.column {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, button {
    padding: 8px;
    font-size: 16px;
}


.reflejo h2 {
    margin-bottom: 10px;
}

.reflejo ul {
    list-style-type: none;
    padding: 0;
}

.reflejo li {
    margin-bottom: 5px;
}